services:
  app:
    platform: linux/amd64
    build: .
    container_name: ft_transcendence
    env_file:
      - ./.env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/public/dist
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "test", "-f", "/app/certs/cert.pem"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  nginx:
    image: nginx
    container_name: ft_transcendence_nginx
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      app:
        condition: service_healthy
    restart: unless-stopped
